@font-face {
    font-family: katrina;
    src: url(fonts/AmaticSC-Regular.ttf);
}

@font-face {
    font-family: font3d;
    src: url(fonts/DERRIDA.TTF);
}

body {
    background-size: 400% 400%;
    background-color: black;
    background-image: linear-gradient(#000000, #B71E66);
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;

}

.grid-item {
    font-size: 30px;
    font-family: katrina;
    text-align: center;
    color: white;


}

a:-webkit-any-link {
    text-decoration: none !important;
}

.grid-item:hover {
    font-size: 30.5px;
    cursor: pointer;
}




.logo {
    display: block;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    grid-area: logo;
}

.katrina {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-area: katrina;
}


.graph {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-area: graph;
    margin-bottom: 20px;
}

.skills {
    color: white;
    font-family: katrina;
    font-size: 5vw;
    text-align: center;
}



.cv {
    width: 75%;
    border: solid white;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;


}

.cv-box {
    color: white;
    font-family: katrina;
    font-size: 5vw;
    text-align: center;
    margin: 0 auto;
}

.free {
    color: white;
    font-family: katrina;
    font-size: 5vw;
    text-align: center;

}

.free-time {
    display: inline-block;
    align-items: center;
    text-align: center;
}



.hoverover {
    position: relative;
    width: 100%;
}

.image {
    opacity: 1;
}

.centerText {
    transition: 1s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.hoverover:hover .centerText {
    opacity: 1;
}

.text {
    background-color: black;
    color: white;
    font-size: 26px;
    padding: 16px 32px;
    font-family: katrina;
}


.art img {
    width: 100%;
}

.food img {
    width: 100%
}

.japan img {
    width: 100%
}

.travel img {
    width: 100%
}

.drawing img {
    width: 100%
}

.six img {
    width: 100%
}

.seven img {
    width: 100%;
}

.eight img {
    width: 100%;
}



@media only screen and (min-width: 720px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2px;
        grid-template-rows: repeat(4, minmax(100px, auto));
    }

    .eight {
        grid-column: 1;
        grid-row: 3;
    }

    .seven {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .art {
        grid-column: 2;
        grid-row: 3;
    }

    .food {
        grid-column: 2;
        grid-row: 4;
    }

    .skills-box {
        grid-column: 1;
        grid-row: 2
    }

    .japan {
        grid-column: 3;
        grid-row: 3;
    }

    .travel {
        grid-column: 3;
        grid-row: 4;
    }

    .cv {
        grid-column: 2/span 2;
        grid-row: 1;
    }

    .free-time {
        grid-column: 2/span 2;
        grid-row: 2;
    }

    .drawing {
        grid-column: 1;
        grid-row: 4;
    }

    .skills {
        color: white;
        font-family: katrina;
        font-size: 2vw;
        text-align: center;
    }


    .free {
        color: white;
        font-family: katrina;
        font-size: 2vw;
        text-align: center;

    }

    .cv-box {
        color: white;
        font-family: katrina;
        font-size: 4vw;
        text-align: center;
        margin: 0 auto;
    }

}

@media only screen and (max-width: 720px) {

    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2px;
        grid-template-rows: repeat(10, minmax(100px, auto));
    }

    .eight {
        grid-column: 1;
        grid-row: 4;
    }

    .skills-box {
        grid-column: 1;
        grid-row: 3
    }

    .seven {
        grid-column: 1;
        grid-row: 1;
    }

    .art {
        grid-column: 1;
        grid-row: 6;
    }

    .food {
        grid-column: 1;
        grid-row: 7;
    }


    .japan {
        grid-column: 1;
        grid-row: 8;
    }

    .travel {
        grid-column: 1;
        grid-row: 9;
    }

    .cv {
        grid-column: 1;
        grid-row: 2;
    }

    .free-time {
        grid-column: 1;
        grid-row: 5;
    }

    .drawing {
        grid-column: 1;
        grid-row: 10;
    }
}
