@font-face {
    font-family: katrina;
    src: url(fonts/AmaticSC-Regular.ttf);
}

@font-face {
    font-family: font3d;
    src: url(fonts/DERRIDA.TTF);
}

body {
    background-size: 400% 400%;
    background-color: black;
    background-image: linear-gradient(#000000, #B71E66);
}


.logo {
    display: block;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    grid-area: logo;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;

}

.grid-item {
    font-size: 30px;
    font-family: katrina;
    text-align: center;
    color: white;


}

a:-webkit-any-link {
    text-decoration: none !important;
}

.grid-item:hover {
    font-size: 30.5px;
    cursor: pointer;


}


.hoverover {
    position: relative;
    width: 100%;
}

.image {
    opacity: 1;
}

.centerText {
    transition: 1s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.hoverover:hover .centerText {
    opacity: 1;
}

.text {
    background-color: black;
    color: white;
    font-size: 26px;
    padding: 16px 32px;
    font-family: katrina;
}

.bw img{
    height: 100%;
    width: 100%;
}
.ba img{
    height: 100%;
    width: 100%;
    
}
.bc img{
    height: 100%;
    width: 100%;
}
.bu img{
    height: 100%;
    width: 100%;
}





@media only screen and (min-width: 720px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2px;
        grid-template-rows: repeat(2, minmax(100px, auto));
    }

    .bw {
        grid-column: 1;
        grid-row: 1;
    }
    .ba{
        grid-column: 1;
        grid-row: 2;
        
    }
    .bc{
        grid-column: 2;
        grid-row: 1;
    }
    .bu{
        grid-column: 2;
        grid-row: 2;
    }
}


@media only screen and (max-width: 720px) {

    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2px;
        grid-template-rows: repeat(4, minmax(100px, auto));
    }

   .bw {
        grid-column: 1;
        grid-row: 1;
    }
    .ba{
        grid-column: 1;
        grid-row: 2;
        
    }
    .bc{
        grid-column: 1;
        grid-row: 3;
    }
    .bu{
        grid-column: 1;
        grid-row: 4;
    }
}



























